$redc:#FB0242;
$blackc:#131517;
$whitec:#FFFFFF;
$secondary:#4f8bea;
$grey1:#5E647C;
$grey2:#1E2745;
$primary:#161D34;
$greenc:#45a049;
$lightgr:#C2EDD8;
$lightgrey:#F0F0F0;
$darkblue: #090F4B;
$bgblue: #000026 ;
//...........................................................
$black:#000000;
$white:#FFFFFF;
$green:#285E4F;
$textgrey:#565656;
$textgrey2:#6B6B6B;
$red:#FF004D;
$lightred:#F47560;
$grey:#222222;
$lightsky:#61cdbb