@import "colors";
@import "fonts";
  .upprof{
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  
  #empcardupbtns{
    margin-left: .5rem;
    background-color: $greenc;
  }
  .empdp{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .emppic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
  #forFiler{
    display: none;
  }
  select{
    display: block;
    margin-bottom: .5rem;
    outline: none;
    border-style: none;
    border: 1px solid $secondary;
    padding: .2rem .6rem;
    font-family: $Roboto-bold;
    color: grey;
    option{
      font-family: $Roboto-light;
    }
  }
  .filercheck{
    margin-bottom: .5rem;
    display: block;
  }
  .filercheck::before{
    content: " ";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid $primary;
  }
  .filercheck::after{
    content: "Employee is Filer";
    position: relative;
    left: 5%;
    font-size: .9rem;
    font-family: $Roboto-light;
  }
  #forFiler:checked ~ .filercheck::before{
    background-color: $secondary;
    transition: .2s;
  }